tabs .nav-tabs {
  overflow: auto;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  border-bottom: 0.5em solid #dddddd;
}
tabs .nav-tabs > li {
  -webkit-flex-shrink: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  margin: 0 0.5em 0 0;
  padding: 0;
  display: inline-block;
  border-bottom: none;
}
tabs .nav-tabs > li.pull-right {
  margin: 0 0 0 auto;
}
tabs .nav-tabs > li > a {
  line-height: 2;
  color: rgba(0, 0, 0, 0.4);
  background: #eaeaea;
  padding: 0 1em;
  display: block;
  border-radius: 0.25em 0.25em 0 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
}
tabs .nav-tabs > li:hover > a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
  background: #e5e5e5;
}
tabs .nav-tabs > li.active > a {
  background: #dddddd;
  color: rgba(0, 0, 0, 0.8);
}
tabs .tab-content > pane > .tab-pane {
  display: none;
}
tabs .tab-content > pane > .tab-pane.active {
  display: block;
}
